@font-face {
    font-family: ProductSans;
    src: url(ProductSansRegular.ttf);
}

@font-face {
    font-family: zuume;
    src: url(fontspring-demo-zuumerough-bold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ProductSans;
}
main{
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: #111;
}

nav{
    position: fixed;
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw;
}

.left-nav a img{
    width: 6vw;
}

.center-nav{
    display: flex;
    gap: 3.5vw;
}

.center-nav a{
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

.center-nav a:hover{
    color:greenyellow;
}

.right-nav button{
    padding: 1vw 2vw;
    border-radius: 10px;
    border: none;
    font-size: 1.05vw;
}

.left{
    width: 40%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5vh;
    padding-left: 10vw;

}

.left h1{
    color: transparent;
    font-size: 10vw;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-image: url(https://media2.giphy.com/media/HkEDr0jVekaZO/giphy.gif?cid=790b76115151ed408a9cae4539eb6351baba5d85998ab783&ct=g&rid=giphy.gif);
    line-height: 8vw;
    
    font-family: zuume;
}

.left p{
    width: 25vw;
    color: #fff;
    font-size: 1.2vw;
}

.left .btn{
    display: flex;
    gap: 2vw;
}

.btn button{
    font-size: 1vw;
    padding: 1.2vw 2vw;
    border: none;
    border-radius: 10px;
}
.btn button:nth-child(1){
    background-color: greenyellow;
}

.right{
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right video{
    width: 90%;
}

.ri-menu-3-line{
    display: none;
}

@media (max-width:480px) {
    .center-nav{
        display: none;
    }
    .right-nav{
        display: none;
    }
    .ri-menu-3-line{
        display: initial;
        color: #fff;
        font-size: 7vw;
    }

    .left-nav a img{
        width: 25vw;
    }
    main{
        flex-direction: column;
    }
    .left{
        align-items: center;
        width: 100%;
        padding-left: 0;
        
    }
    .left h1{
        line-height:14vh;
        margin-top: 15vh;
        font-size: 30vw;
    }
    .left p{
       width: 100vw;
       font-size: 5vw;
       padding: 4vw;
    }
    .left .btn{
        flex-direction: column;
    }
    .left .btn button{
        font-size: 4.5vw;
        padding: 5vw 16vw;
    }
    .right{
        width: 100%;
        height: 50vh;
    }
}



